 # Copyright (c) 2022, salesforce.com, inc.
 # All rights reserved.
 # SPDX-License-Identifier: BSD-3-Clause
 # For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause

datasets:
  medicat: # name of the dataset builder
    # dataset_card: dataset_card/coco_caption.md
    # data_dir: ${env.data_dir}/datasets
    data_type: images # [images|videos|features]

    build_info:
      # Be careful not to append minus sign (-) before split to avoid itemizing
      annotations:
        train:
          url:
            # TODO make this order insensitive
            - /mnt/sda/hjl/data/medical/medical_image_caption/medicat/medicat_full.json
          storage: /mnt/sda/hjl/data/medical/medical_image_caption/medicat/medicat_full.json
      images:
          storage: /mnt/sda/hjl/data/medical/medical_image_caption/medicat/release/figures

